@import '~Creativeshop/components/page-bottom/page-bottom.scss';

.#{$ns}page-bottom {
    $root: &;

    &__logo {
        display: flex;
        flex-shrink: 1;
        height: 2rem;

        @include media('<laptop') {
            width: auto;
        }

        &--nova-poshta {
            height: auto;
            width: 9rem;
        }

        &--justin {
            height: auto;
            width: 9rem;
        }

        &--privatbank {
            max-width: 12rem;
        }

        &--monobank {
            top: 3px;
            position: relative;
            max-width: 14rem;
        }

        &--hermes {
            width: 12.2rem;
        }

        &--hermes {
            width: 12.2rem;
        }

        &--dhl {
            height: auto;
            max-height: 2rem;
            min-width: 8.6rem;
            padding-left: 10px;
        }

        &--paypal {
            width: 6.2rem;
        }

        &--visa {
            height: auto;
            max-height: 2rem;
            min-width: 5.5rem;
        }

        &--mastercard {
            width: 3.3rem;
        }

        &--klarna-sofort {
            height: auto;
            max-height: 2.5rem;
            min-height: 2.5rem;
        }

        &--klarna {
            width: 7rem;
        }

        &--gls {
            width: 5rem;
        }

        &--giropay {
            width: 4.8rem;
        }

        &--ec {
            width: 1.8rem;
        }

        &--paydirekt {
            width: 6rem;
        }

        &--lastschrift {
            width: 6.15rem;
        }

        &--vorkasse {
            width: 8.3rem;
        }

        &--rechnung {
            width: 6.15rem;
        }

        & + & {
            margin-left: 0.5rem;
        }
    }
}
