@import '~Creativeshop/components/page-bottom/page-bottom.scss';

.#{$ns}page-bottom {
    $root: &;

    &__group {
        &--info {
            @include media('>=tablet') {
                flex-basis: 40%;
            }

            @include media('>=laptop') {
                flex-basis: 17%;
            }
        }

        &--shipping {
            display: none;

            @include media('>=tablet') {
                flex-basis: 55%;
                padding-right: 5rem;
            }

            @include media('>=laptop') {
                flex-basis: 27%;
            }
        }

        &--payment {
            flex-basis: 45%;

            @include media('>=tablet', '<laptop') {
                flex-basis: 100%;
                padding-left: 2rem;
                padding-right: 5rem;
            }

        }
    }

    &__logo{
        &--nova-poshta {
            height: auto;
            width: 9rem;
        }

        &--justin {
            height: auto;
            width: 9rem;
        }

        &--privatbank {
            max-width: 12rem;
        }

        &--monobank {
            top: 3px;
            position: relative;
            max-width: 14rem;
        }
    }
}
